@import "../assets/stylesheets/config.scss";

.home {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 100vh;
  background-image: url("../assets/images/background.jpg");
  background-position: center center;
  background-size: cover;

  &__title {
    font-size: 36px;
    color: $white;
  }

  &__subtitle {
    padding-bottom: 10px;
    font-size: 18px;
  }
}
